.daily-border {
    padding: 10px 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.daily-forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: content;
    font-size: 1.2rem;
    flex-wrap: wrap;
}

.flex-patch {
    flex: 1;
}

.daily-img {
    height: 2.5rem;
    filter: drop-shadow(0 0 5px rgba(23, 36, 50, .3));
    margin-right: 10px;
}

.tear-drop-daily {
    margin-right: 10px;
    height: 1rem;
}

.text-weight {
    font-weight: 600;
}

.text-alligment {
    align-self: center;
}

.icon-temp {
    display: flex;
    align-self: center;
}

.even-more-flex-patch {
    flex: 0 0 65px;
}