.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.container {
    position: absolute;
    max-width: 700px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    transition: all 0.5s ease;
}

.container.moved-up {
    position: absolute;
    top: 30px;
    opacity: 0.8;
}

.content {
    margin: 10px auto;
    position: absolute;
    width: 100%;
    /*left: 50%;
    transform: translateX(-50%);*/
}

.content.loading-screen {
    display: flex;
    justify-content: center;
}

/*@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;

}*/